<section class="gestion-form">
    <!-- <h1>Registro de Alumnos</h1> -->
    <form action="#" method="POST">
        <div class="form-section">
            <div class="form-group">
                <label for="cedula">Cedula</label>
                <input type="text" id="cedula" name="persona_cedula" required placeholder="Ej. 123456789">
            </div>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="persona_nombre" required placeholder="Ej. Juan">
            </div>
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" id="apellido" name="persona_apellido" required placeholder="Ej. Pérez">
            </div>
            <div class="form-group">
                <label for="correo">Correo Electronico</label>
                <input type="email" id="correo" name="persona_correo" required placeholder="ejemplo@correo.com">
            </div>
            <div class="form-group">
                <label for="correo">Telefono(s)</label>
                <input type="email" id="correo" name="persona_correo" required placeholder="99999999">
            </div>
            <div class="form-group">
                <label for="departamento">Departamento</label>
                <input type="text" id="departamento" name="direccion_departamento" required placeholder="Ej. Atlántico">
            </div>
            <div class="form-group">
                <label for="municipio">Municipio</label>
                <input type="text" id="municipio" name="direccion_municipio" required placeholder="Ej. Puerto">
            </div>
            <div class="form-group">
                <label for="barrio">Barrio/Colonia</label>
                <input type="text" id="barrio" name="direccion_barrio_colonia" required placeholder="Ej. El Carmen">
            </div>
            <div class="form-group">
                <label for="referencia">Referencia</label>
                <textarea id="referencia" name="direccion_referencia" rows="3" required placeholder="Cerca del parque"></textarea>
            </div>
            <div class="form-group">
                <label for="referencia">Padre de Familia</label>
                <input id="referencia" name="direccion_referencia" rows="3" required placeholder="Ingresa la cédula del padre"></textarea>
            </div>
        </div>
        <button type="submit" class="btn-submit">Registrar</button>
    </form>
</section>