.reportes-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 40px;
    max-width: 800px;
    margin: 0 auto;
    font-weight: bold;
}

.reportes-form h3 {
    font-size: 1.8em;
    color: #4e54c8; 
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 1.1em;
    margin-bottom: 8px;
    display: block;
    color: #555;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 12px;
    font-size: 1.1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #4e54c8; 
    outline: none;
}

.btn-submit {
    background: linear-gradient(to right, #8f94fb, #4e54c8);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    transition: background 0.3s;
}

.btn-submit:hover {
    background: linear-gradient(to right, #4e54c8, #8f94fb); 
}


.reporte-generado {
    margin-top: 40px;
}

.reporte-generado h3 {
    font-size: 1.8em;
    color: #4e54c8; 
    margin-bottom: 20px;
}

table {
    width: 100%;
    max-width: 800px; 
    margin-top: 20px;
    margin: 0 auto; 
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    padding: 12px;
    text-align: center; 
    border: 1px solid #ddd;
}

table th {
    background-color: #4e54c8;
    color: white;
    font-size: 1.1em;
}

table td {
    background-color: #f4f4f9;
    font-size: 1em;
}


.btn-volver {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    background: #4e54c8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    max-width: 200px;
    transition: background 0.3s;
}

.btn-volver:hover {
    background: #8f94fb;
}


.btn-edit, .btn-delete {
    background: linear-gradient(to right, #8f94fb, #4e54c8);
    color: white;
    padding: 5px 10px;  
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.875rem; 
    text-transform: uppercase;
    transition: background 0.3s;
    margin: 0 5px;  
    display: inline-block; 
}

.btn-edit:hover, .btn-delete:hover {
    background: linear-gradient(to right, #4e54c8, #8f94fb);
}


.tabla-registros td button {
    margin: 0 5px;
}